@import '../../styles/variables';

.Top {
  display: grid;
  align-content: center;
  height: 40px;
  border-bottom: 1px solid $write_gray_1;
  @media (max-width: 576px) {
    height: 60px;
  }
  :global {
    .bx-help-circle {
      margin-right: 6px;
    }
    .bx {
      color:$gray_light;
      position: relative;
      top: 2px;
      font-size: 16px;
      cursor: pointer;
      &:hover {
        color: $green;
      }
    }
  }
  p, a, span {
    color: $black;
    margin-bottom: 0;
  }
  
  ul {
    margin: 0 !important;
    li {
      margin-left: 0.3rem;
      &:first-child {
        margin-left: 0;
      }
      a {
        margin: 0;
        padding: 0;
      }
    }
   }
}