@import './variables';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');


body {
	font-family: 'Source Sans Pro', sans-serif !important;
}

p,
li,
abbr {
	color: $black;
	font-weight: 400;
}

a {
	&:hover {
		text-decoration: none !important;
		color: $green !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
}

*:focus {
	box-shadow: none !important;
	outline: none !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a,
input,
label,
li span {
	&::selection {
		color: #fff !important;
		background-color: $green !important;

		@media (max-width: 575.98px) {
			color: $black;
			background-color: #fff;
		}
	}
}

.colGrid_2 {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-gap: 20px;
	justify-content: start;
	@media (max-width: 800px) {
		justify-content: center !important;
	}
}

box-icon {
	float: left;
	vertical-align: middle;
	&:hover {
		fill: $green !important;
		cursor: pointer !important;
	}
}