$black: #48505a;
$principal: #243958;
$principal_2: #293a49;
$green: #00ba92;
$green_medium: #1fd1a1;
$blue: #2572dd;
$blue_medium: #134fa3;
$gray_light: #9ca7b4;
$gray_medium: #747d8c;
$gray_dark: #57606f;
$write_gray_1: #f1f2f6;
$write_gray_2: #dfe4ea;
$write_gray_3: #ced6e0;
