@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

$gap: 10px;

.Premios {
  button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px 100px;
  }
  p {
    line-height: 2;
    text-align: center;
    color: $gray_medium;
  }
  :global {
    .col-lg-4 {
      display: grid;
      align-content: center;
    }
    .col-12 {
      margin-top: 20px;
    }
  }

}