@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

$gap: 20px;

.NuestrosUsuarios {
  .Subtitle {
    p {
      text-align: center;
      color: $gray_medium;
    }
  }
  .BoxSlice {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .ItemsScrolling {
    margin: 0  20px;
    padding: 30px 20px;
    overflow-x: auto;
    scrollbar-width: none;
    @media screen and (max-width: 576px) {
      margin: 0  10px;
      padding: 30px 20px;
    }
    @media screen and (max-width: 360px) {
      padding: 30px 16px;
    }
    &::-webkit-scrollbar {
      display: none !important;
    }
    .BoxGrid {
      display: grid;
      grid-template-columns: repeat(6, 280px);
      grid-gap: 50px;
      justify-content: space-between;
      @media screen and (max-width: 576px) {
        grid-template-columns: repeat(6, 240px);
        grid-gap: 100px;
      }
      @media screen and (max-width: 360px) {
        grid-template-columns: repeat(6, 200px);
      }
    }
    .NuestrosUsuariosItem {
      padding: 30px 20px;
      @extend %boxShadowContent;
      .BoxImage {
        display: grid;
        justify-items: center;
        margin: 0 auto;
        margin-bottom: 16px;
        width: 120px;
        height: 120px;
        border: 4px solid $write_gray_1;
        border-radius: 100%;
        overflow: hidden;
      }
      .BoxContent {
        justify-items: center;
        margin-bottom: 14px;
        h1, p {
          text-align: center;
          margin-bottom: 0;
        }
        h1 {
          font-size: 1.25rem;
          margin-bottom: 3px;
        }
        p {
          font-size: 0.945rem;
          font-weight: 400;
        }
        .TextCompany {
          color: $gray_dark;
        }
        .TextJob {
          color: $gray_light;
        }
      }
      .BoxFormacion {
        justify-items: start;
        ul {
          margin: 0;
          @media screen and (max-width: 360px) {
            padding-left: 20px;
          }
          li {
            a {
              color: $green;
            }
          }
        }
      }
    }
  }
}