@import '../../styles/variables';
@import '../../styles/fontResponsive';

$gap: 10px;

.Heading {
  background-color: #f0f4f7;
  padding: 40px 0;
  margin-bottom: 70px;
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
    align-items: center;
    display: flex;
    height: 100%;
    @media (max-width: 576px) {
      @include responsive-font-size(24px);
    }
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex !important;
    justify-content: flex-end;
    li {
      margin: $gap/2;
      a, p {
        color: $gray_light;
        text-transform: uppercase;
        @media (max-width: 576px) {
          @include responsive-font-size(14px);
        }
      }
      p {
        margin-bottom: 0;
        span {
          margin: 0 10px 0 2px;
        }
      }
    }
  }
}
