@import '../../../styles/variables';

.Arrows {

  %rombo {
    width: 40px;
    height: 40px;
    cursor: pointer !important;
    background-image: url('../../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
  }
  .ArrowL {
    @extend %rombo;
  }
  .ArrowR {
    transform: rotate(-180deg);
    @extend %rombo;
  }
}