@import '../../../styles/variables';

.Arrows {
  %rombo {
    height: 40px;
    background-image: url('../../../assets/icons/arrow.svg');
    background-repeat: no-repeat;
    width: 40px;
  }
  .ArrowL {
    @extend %rombo;
  }
  .ArrowR {
    @extend %rombo;
    transform: rotate(-180deg)
  }
}