@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

.Reactid {
  position: relative;
  top: -82px;
  z-index: 999;
  @media screen and (max-width: 800px) {
    top: -120px;
  }
  @media (min-width: 568px) and (max-width: 800px) {
    top: -100px;
  }

  .BoxSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    
  }
  .Scrolling {
    padding: 0 20px;
    overflow-x: auto;
    width: 226px;
    overflow-x: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none !important;
    }
    @media (min-width: 568px) and (max-width: 800px) {
      width: 600px;
      padding: 0;
    }
    .Box_sm {
      display: grid;
      grid-template-columns: repeat(5, auto);
      grid-gap: 90px;
      justify-content: start;
      min-width:50%;
      min-height: 200px;
      padding: 40px 62px;
      @media screen and (max-width: 576px) {
        padding: 40px 2px;
      }
      @media (min-width: 568px) and (max-width: 800px) {
        grid-gap: 40px;
        padding: 40px 22px;

      }
    }
  }
  .Box_md {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    justify-content: center;
    justify-content: space-between;
  }

  .BoxReActid {
    display: grid;
    justify-content: end;
    justify-items: end;
    align-content: center;
    background-color: #fff;
    -webkit-box-shadow: 0px 7px 20px 0px rgba(36, 57, 88, 0.2);
    -moz-box-shadow: 0px 7px 20px 0px rgba(36,57,88,0.2);
    box-shadow: 0px 7px 20px 0px rgba(36,57,88,0.2);
    padding: 20px;
    width: 180px;
    height: 160px;
    border-radius: 4px;
    @media (min-width: 568px) and (max-width: 800px) {
      width: 160px;
      height: 140px;
    }
    .LineGreen {
      display: block;
      align-items: center;
      align-content: center;
      text-align: right;
      background-color: $green;
      margin: 6px 0 8px;
      width: 40%;
      height: 4px;
      float: right;
    }
    h1, h6 {
      text-align: right;
      margin-bottom: 0;
    }
    h1 {
      font-size: 60px;
      font-weight: 700;
      @media (min-width: 568px) and (max-width: 800px) {
        @include responsive-font-size(66px);
      }
      span {
        margin-right: 16px;
      }
    }
    h6 {
      color: $gray_medium;
    }
  }
  
}
