@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

.Banner {
  position: relative;
  top: -80px;
  width: 100%;
  z-index: -1;
  height: 650px;
  @media screen and (max-width: 576px) {
    top: -80px;
    height: 440px;
  }
  .bgOverly {
    display: block;	
    background-color: rgba($black, 0.46);
    width: 100%;
    height: 660px;
    background-size: cover;
    background-blend-mode: multiply;
    background-image: url('../../../assets/images/bgBanner.jpg');
    background-repeat: no-repeat;
    background-position-x: 40%;
    @media screen and (max-width: 576px) {
      top: 40px;
      height: 470px;
    }
  }
  :global {
    .container {
      display: grid;
      align-content: center;
      height: 95%;
    }
  }
  .Content {
    width: 60%;
    @media screen and (max-width: 800px) {
      text-align: center;
      width: 100%;
    }
    .LineGreen {
      display: block;
      background-color: $green;
      margin-bottom: 20px;
      width: 30%;
      height: 2px;
      @media screen and (max-width: 800px) {
        margin: 0 auto  20px auto;
        width: 40%;
      }
    }
    h1, h2, p {
      font-family: 'Noto Sans JP';
      color: #fff;
      margin-bottom: 0;
    }
    .Heading {
      h1 {
        font-weight: 700;
        @media screen and (max-width: 800px) {
          @include responsive-font-size(30px);
        }
      }
      h2 {
        margin-bottom: 0;
        font-weight: 400;
        @media screen and (max-width: 800px) {
          @include responsive-font-size(26px);
        }
      }
    }
    .Parrag {
      margin-top: 20px;
      p {
        font-size: 1.25rem;
        font-weight: 300;
        @media screen and (max-width: 800px) {
          @include responsive-font-size(18px);
        }
      }
    }
    button {
      margin-top: 20px;
      padding: 10px 40px;
    }
  }
}