@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

.Formacion {
  position: relative;
  top: -140px;
  @media screen and (max-width: 576px) {
    top: -430px;
  }
  .BoxFilters {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
    flex-wrap: wrap;
    @media screen and (max-width: 576px) {
      flex-direction: row;
      :global {
        .btn {
          @include responsive-font-size(14px);

        }
      }
    } 
  }
}