@import '../../../styles/variables';
@import '../../../styles/fontResponsive';

$gap: 10px;

.Formacion {
  position: relative;
  top: -140px;
  @media screen and (max-width: 576px) {
    top: -430px;
  }
  .BoxFilters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    :global {
      .btn {
        margin: $gap/2;
      }
    }
    @media screen and (max-width: 576px) {
      flex-direction: row;
      :global {
        .btn {
          @include responsive-font-size(14px);
        }
      }
    } 
  }
  .BoxGrid {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: $gap/2;
  }
}