@import '../../../styles/variables';
@import '../../../styles/fontResponsive';


%BoxSibera {
  margin-bottom: 40px;
  padding: 0 30px;
  border-left: 1px solid $write_gray_1;
  h4 {
    position: relative;
    margin-bottom: 20px;
    &:before {
      content: '';
      display: block;
      background-color: $green;
      position: absolute;
      top: 0;
      left: -31px;
      width: 4px;
      height: 30px;
    }
    &:after {
      content: '';
      display: block;
      background-color: $write_gray_3;
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 40px;
      height: 1px;
    }
  }
  ul {
    margin: 0;
    padding: 0;;
    li {
      padding: 20px 0;
      border-bottom: 1px solid $write_gray_1;
      &:last-child {
        border-bottom: none;
      }
      a {
        color: $black;
      }
    }
  }
} 
.SidebarFormacionItem {
  @extend %BoxSibera
;}
.SidebarCategoriaItem {
  @extend %BoxSibera
;}

.Buscador {
  position: relative;
  margin-bottom: 40px;
  input[type="text"] {
    padding: 6px 10px;
    width: 100%;
    border: 1px solid $write_gray_2;
    border-radius: 2px;
  }
  :global {
    .bx {
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}

.SidebarMobile {
  .BoxForm {
    position: relative;
    margin-bottom: 20px;
    .SelectArrow {
      font-size: 24px;
      color: $blue;
      position: absolute;
      top: 6px;
      right: 5px;
      padding: 0;
    }
    select {
      font-size: 0.845rem;
      color: $black;
      background-color: $write_gray_1;
      padding: 10px;
      width: 100%;
      border: none !important;
      border-radius: 4px;
      appearance: none;
      outline: none;
      option {
        margin-top: 10px;
        border: none !important;
      }
    }
  }
}