@import '../../styles/variables';

header {
  padding: 20px 0;
}
:global {
  .navbar {
    padding: 0;
  }
  .navbar-toggler {
    padding: 0;
    border: none;
  }
  .navbar-toggler-icon {
    height: 20px;
  }
  @media screen and (max-width: 800px) {
    .navbar-collapse {
      position: absolute;
      top: 40px;
      width: 100%;
      z-index: 109 !important;
    }
  }

  .navbar-nav {
    @media (max-width: 800px) {
      background-color: #fff;
      border-radius: 4px !important;
      li {
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid $write_gray_1 !important;
        a {
          color: $black !important;
          padding: 10px 0;
        }
        &:last-child {
          border-bottom: none !important;
        }
      }
    }
    li {
      a {
        color: $black;
        margin: 0 10px;
        text-transform: uppercase;
        &.active {
          font-weight: 600;
        }
      }
    }
  }
}